@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

input{font-family:Arial, Helvetica, sans-serif;color:#666666;font-size:12px}
.clear{line-height:0px;height:0px;clear:both;font-size:0px}


.sltinput{width:354px;background:url(../images/09.gif) no-repeat right center;cursor:pointer;border:1px solid #cccccc;height:18px;line-height:18px;padding:3px;color:#666666;}

/* OpenFloatBox */
.OpenFloatBoxBg{position:absolute;display:none;background:#666666; z-index:9995}
.OpenFloatBox{border:#999999 1px solid;position:absolute;width:650px;}
.OpenFloatBox .title{background:url(../images/72.gif) repeat-x;height:30px;color:#333333}
.OpenFloatBox .title h4{line-height:16px;margin:0px;float:left;font-size:14px;padding:7px 10px 0px 10px;}
.OpenFloatBox .title .DialogClose{width:30px;display:block;background:url(../images/72.gif) no-repeat 0px -30px;float:right;height:30px;cursor:pointer}
.OpenFloatBox .title .spanhover{background-position:0px -60px}
.OpenFloatBox .tip{line-height:30px;padding-left:26px;background:url(../images/72.gif) #ffffff no-repeat 0px -90px;height:30px;color:#ff6600}
.OpenFloatBox .selecteditem{border:#ff9966 1px solid;padding:10px 0;background-color:#fffeee;width:100%;display:none;color:#ff0000;}
.OpenFloatBox .selecteditem .empty{color:#0066cc;cursor:pointer}
.OpenFloatBox .selecteditem label{padding-left:5px;width:145px;display:block;float:left;color:#339900;cursor:pointer;margin-right:5px}
.OpenFloatBox .txt{padding:0px 15px 15px 15px;}
.OpenFloatBox .content{background-color:#ffffff;width:100%}
.OpenFloatBox .content .item{width:150px;float:left;height:20px;cursor:pointer;margin-right:5px}
.OpenFloatBox .content .item .titem{z-index:1;position:absolute;width:150px;display:block}
.OpenFloatBox .content .item .titemhover{border:#ff9900 1px solid;background-color:#fffef0;color:#ff6600;font-weight:bold;}
.OpenFloatBox .content .item .sitem{z-index:2;border:#ff9900 1px solid;position:absolute;background-color:#fffef0;margin-top:20px;width:150px;display:none;}
.OpenFloatBox .content .item .sitem label{padding-bottom:5px;line-height:23px}
/* but80 */
.but80{background:url(../images/36.jpg) no-repeat;width:81px;height:32px;color:#ffffff;font-size:14px;font-weight:bold;border:0;}
.but80_hover{background-position:0px -32px;}