.link-my-favorite{width:100%;height:60px;font-size:28px;line-height:60px;margin:15px
0}.link-my-favorite
i{width:32px;height:32px;left:55px;top:16px;background-position:-152px -188px}.tj-group ul li
.img{width:74px}.tj-group ul li
.content{width:154px;height:56px;overflow:hidden}.tj-group ul li .content
.hottitle{font-size:14px;line-height:19px}.news-filter-box{width:700px;overflow:hidden}.news-filter-box .title-box{width:100%;height:46px;border-bottom:2px #690 solid}.news-filter-box .title-box
.title{float:left;line-height:46px;color:white;background-color:#690;padding:0
20px;border-top-left-radius:5px;border-top-right-radius:5px}.news-filter-box .title-box .search-box{float:right;margin-top:5px}.news-filter-box .title-box .search-box input[type="text"]{width:326px}.item-box{width:680px;overflow:hidden;background-color:white;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin-bottom:8px;padding:0
10px}.filter-item{width:680px;padding:8px
0;overflow:hidden}.filter-item ul.select-item{width:680px;overflow:hidden}.filter-item ul.select-item
li{float:left;height:28px;line-height:28px;padding:0
10px 3px 0;font-size:18px}.filter-item ul.select-item li
a{display:inline-block;padding:0
8px;border-radius:3px}.filter-item ul.select-item li a:hover,
.filter-item ul.select-item li
a.on{background-color:#690;color:white}ul,li,dl,dt,dd{list-style:none;margin:0;padding:0;overflow:hidden}.clr{clear:both}.t_center{text-align:center}.t_left{text-align:left}.t_right{text-align:right}.border_clr{border:none!important}.bgcolor_clr{background:none!important}.padding_clr{padding:0!important}.color_red{color:#f00!important}.color_aaa{color:#aaa!important}.n_bottom span.f_right i.praise, .n_bottom span.f_right i.comments, .n_bottom span.f_right i.collection, .praise_div, .praise_div
.p_1{background:url(/web/images/news_pic.png) no-repeat}.n_l_div{background-color:#fff;border-radius:5px;width:650px;padding:25px;overflow:hidden;margin-top:4px;margin-bottom:12px}.n_l_pic{float:left;width:200px;border-radius:3px}.n_l_pic
img{border-radius:3px}.n_l_dl{float:left;display:inline;width:425px;margin-left:25px}.n_l_dl
dt{overflow:hidden;padding-bottom:10px}.n_l_dl dt
a{display:block;color:#333;font-size:24px;line-height:26px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.n_l_dl dt a:hover{color:#690}.n_l_dl dd.n_info
a{color:#666;line-height:150%;text-indent:24px;display:block}.n_l_dl dd.n_info a:hover{text-decoration:underline}.n_bottom{overflow:hidden;margin:20px
0 0}.n_bottom
span.f_left{float:left;color:#b1b1b1}.n_bottom
span.f_right{float:right;overflow:hidden}.n_bottom span.f_right
i{display:inline-block;color:#690;margin-left:20px;padding-left:20px}.n_bottom span.f_right
i.praise{background-position:-118px -78px}.n_bottom span.f_right
i.comments{background-position:-118px -39px}.n_bottom span.f_right
i.collection{background-position:-118px 1px}.n_bottom span.f_right
a.collection{margin-left:20px;line-height:24px;color:#b1b1b1}.n_bottom span.f_right a.collection:hover{color:#690;text-decoration:underline}.NoneData{background-color:white;border-radius:5px}.collection_list{width:700px;background-color:#fff;border-radius:0 0 5px 5px;overflow:hidden}.c_l_div{border-bottom:1px solid #eee;width:650px;padding:25px
5px;overflow:hidden;margin:0
20px}.news_div{border-radius:5px;background-color:#fff;width:900px;margin:0
auto;padding:20px
50px;overflow:hidden;margin-top:20px}.n_i_path{border-bottom:1px solid #f2f2f2;color:#ababab;font-size:16px;line-height:32px}.n_i_path
span{margin:0
5px}.news_title{margin:40px
auto 30px auto;text-align:center}.news_title
h1{color:#333;font-size:32px;line-height:32px;margin:0;padding:0;font-weight:normal;overflow:hidden}.news_title
p{margin:0;padding:15px
0}.news_title p
span{margin:0
6px;color:#999}.news_title p span
a{color:#690}.news_title p span a:hover{text-decoration:underline}.news_info{line-height:24px;font-size:16px;text-align:justify}.praise_div{background-position:0 -34px;margin:100px
auto 30px;width:102px;height:102px;position:relative;left:50%;margin-left:-51px;cursor:pointer}.praise_div
.p_d_i{display:inline-block;width:102px;height:35px;padding:68px
0 0;font-size:16px;color:#737373;text-align:center}.praise_div
.p_1{display:none;position:absolute;top:-30px;margin:0
25px;width:52px;height:24px;text-align:center;color:#fff;line-height:24px;background-position:0 -136px}.praise_div_on{background-position:0 -170px}.praise_div_on
.p_d_i{color:#c66}.praise_div_on
.p_1{background-position:0 0}.news-detail-tab-pinglun{width:900px}.news-detail-tab-pinglun ul.tab-panel{height:32px}.news-detail-tab-pinglun ul.tab-panel
li{height:32px}.news-detail-tab-pinglun ul.tab-panel li.on
a{height:32px;font-size:18px;line-height:32px}.news-detail-tab-pinglun
.content{width:100%;padding:20px
0;line-height:28px}.news-detail-tab-pinglun
.content{line-height:0;padding-top:10px}.news-detail-tab-pinglun .content .share-send{width:100%}.news-detail-tab-pinglun .content .share-send
textarea{border:1px
#CCC solid;outline:none;resize:none;height:60px;width:888px;padding:5px;border-radius:3px;font-size:12px;overflow-y:auto;margin-bottom:1px}.news-detail-tab-pinglun .content .share-send textarea:focus{border:1px
#690 solid}.news-detail-tab-pinglun .content .share-send .upload-box{overflow:hidden;display:none;margin-bottom:1px}.news-detail-tab-pinglun .content .share-send .select-album-box{display:none}.news-detail-tab-pinglun .content .share-send .handle-box{width:100%;height:30px;margin-top:6px}.news-detail-tab-pinglun .content .share-send .handle-box
div{float:left;height:30px;line-height:30px;color:#CCC;position:relative}.news-detail-tab-pinglun .content .share-send .handle-box
.face{width:69px;border-right:1px #e5e5e5 solid;margin-right:14px;cursor:pointer}.news-detail-tab-pinglun .content .share-send .handle-box .face:hover{color:#690}.news-detail-tab-pinglun .content .share-send .handle-box .face
i{float:left;position:relative;top:5px;left:0;margin-right:5px;display:block;width:23px;height:22px;background-image:url(/web/images/icons.png);background-repeat:no-repeat;background-position:-626px 0}.news-detail-tab-pinglun .content .share-send .handle-box .face:hover
i{background-position:-626px -22px}.news-detail-tab-pinglun .content .share-send .handle-box
.pic{width:200px}.news-detail-tab-pinglun .content .share-send .handle-box .pic
i{float:left;display:block;background-image:url(/web/images/icons.png);background-repeat:no-repeat;position:relative}.news-detail-tab-pinglun .content .share-send .handle-box .pic
i.icon{width:37px;height:30px;background-position:-588px 0;margin-right:10px}.news-detail-tab-pinglun .content .share-send .handle-box .pic
span{float:left;cursor:pointer}.news-detail-tab-pinglun .content .share-send .handle-box .pic span:hover{color:#690}.news-detail-tab-pinglun .content .share-send .handle-box .pic span
i.album{top:5px;left:0;width:21px;height:21px;margin-right:5px;background-position:-650px 0}.news-detail-tab-pinglun .content .share-send .handle-box .pic span:hover
i.album{background-position:-650px -22px}.news-detail-tab-pinglun .content .share-send .handle-box .pic span
i.local{top:5px;left:12px;width:23px;height:21px;margin-right:17px;background-position:-672px 0}.news-detail-tab-pinglun .content .share-send .handle-box .pic span:hover
i.local{background-position:-672px -22px}.news-detail-tab-pinglun .content .share-send .handle-box
.count{width:512px;margin-right:20px;text-align:right}.news-detail-tab-pinglun .content .share-send .handle-box .count
i{margin:0
10px;font-family:Georgia}.news-detail-tab-pinglun .content .share-send .handle-box
.btn{}.news-detail-tab-pinglun .content .share-send .handle-box .btn
input{height:30px;font-size:18px;width:84px}.news-detail-tab-pinglun .content
.line{line-height:0;font-size:0;border-bottom:1px #e5e5e5 solid;margin:20px
0}.news-detail-tab-pinglun .content .share-list{width:900px;overflow:hidden;margin-bottom:20px}.news-detail-tab-pinglun .content .share-list
.header{float:left;width:48px}.news-detail-tab-pinglun .content .share-list .header
img{border-radius:3px}.news-detail-tab-pinglun .content .share-list .data-box{float:right;width:835px;border:1px
#e5e5e5 solid;border-radius:3px;background:#fcfcfc;padding-bottom:20px}.news-detail-tab-pinglun .content .share-list .data-box
.finger{position:absolute;left:-7px;top:15px;width:7px;height:19px;background:url(/web/images/icons.png) -9px -66px no-repeat}.news-detail-tab-pinglun .content .share-list .data-box
.text{padding:10px
20px;line-height:24px}.news-detail-tab-pinglun .content .share-list .data-box .text
a{color:#690}.news-detail-tab-pinglun .content .share-list .data-box .text a:hover{text-decoration:underline}.news-detail-tab-pinglun .content .share-list .data-box .text
img{vertical-align:middle;margin:0
2px}.news-detail-tab-pinglun .content .share-list .data-box
.pingfen{display:inline-block;line-height:36px;padding:0
10px;margin-left:20px;border:1px
#E5E5E5 solid;border-radius:3px;background-color:white;margin-bottom:10px}.news-detail-tab-pinglun .content .share-list .data-box
dl.imgs{width:306px;margin-left:20px;margin-bottom:10px;overflow:hidden}.news-detail-tab-pinglun .content .share-list .data-box dl.imgs
dt{float:left;width:100px;height:100px;margin:0
2px 2px 0;cursor:pointer}.news-detail-tab-pinglun .content .share-list .data-box
.handler{width:835px;height:17px;line-height:17px}.news-detail-tab-pinglun .content .share-list .data-box .handler
.date{float:left;padding-left:20px}.news-detail-tab-pinglun .content .share-list .data-box .handler
.total{float:right;padding-right:20px}.news-detail-tab-pinglun .content .share-list .data-box .handler .total
a{color:#690;margin-left:10px}.news-detail-tab-pinglun .content .share-list .data-box .handler .total a:hover{text-decoration:underline}.news-detail-tab-pinglun .content .share-list .data-box .reply-content{width:835px;position:relative;overflow:hidden}.news-detail-tab-pinglun .content .share-list .data-box .reply-content
.rline{width:835px;height:6px;border-bottom:1px #E5E5E5 solid;position:relative}.news-detail-tab-pinglun .content .share-list .data-box .reply-content .rline
i{position:absolute;left:63px;top:0px;width:26px;height:7px;display:block;border:none;background:url(/web/images/icons.png) -17px -66px no-repeat}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list{width:795px;padding:0
20px;overflow:hidden}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list
li{width:100%;overflow:hidden;padding:12px
0;border-bottom:1px #e5e5e5 dotted;position:relative}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li
.head{float:left;width:42px}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li .head
img{border-radius:3px}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li
.pltext{float:left;position:relative;top:-4px;width:400px;line-height:21px}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li .pltext
a{color:#690}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li .pltext a:hover{text-decoration:underline}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li .pltext
img{vertical-align:middle;margin:0
2px}.news-detail-tab-pinglun .content .share-list .data-box ul.pinglun-list li
.pldate{float:right;text-align:right;line-height:17px}.news-detail-tab-pinglun .content .share-list .data-box
.plpager{width:795px;margin:0
auto;overflow:hidden}.news-detail-tab-pinglun .content .share-list .data-box .plpager
div{width:793px;margin-top:10px;text-align:center;background:#f9f9f9;border:1px
#e5e5e5 solid;line-height:24px;overflow:hidden}.news-detail-tab-pinglun .content .share-list .data-box .plpager span,
.news-detail-tab-pinglun .content .share-list .data-box .plpager
a{color:#222}.news-detail-tab-pinglun .content .share-list .data-box .plpager
span.cpb{color:#666;cursor:default;font-weight:bold}.news-detail-tab-pinglun .content .share-list .data-box .plpager a:hover{color:#690}.news-detail-tab-pinglun .content .share-list .data-box .plpager a[disabled="disabled"]{color:#999;cursor:default}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box{width:793px;margin:20px
auto 0 auto;display:none}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box
.face{margin-right:5px;width:23px;padding:4px
6px 5px 0;margin-top:2px;cursor:pointer;position:absolute}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box .face:hover
i{background-position:-626px -22px}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box .face
i{display:block;width:23px;height:22px;background-image:url(/web/images/icons.png);background-repeat:no-repeat;background-position:-626px 0}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box input[type="text"]{float:left;width:684px;margin-left:30px;height:21px;font-size:14px;padding:5px;border:1px
#CCC solid;border-radius:3px;outline:none;resize:none;overflow-y:auto}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box input[type="text"]:focus{border-color:#690}.news-detail-tab-pinglun .content .share-list .data-box .pinglun-box input[type="submit"]{float:right;width:60px;height:32px;font-size:18px}.news-detail-tab-pinglun .data-loading{width:898px}.m_news_div{padding:10px;background-color:#fff;overflow:hidden}.m_news_title{text-align:center}.m_news_title
h1{color:#333;font-size:24px;line-height:32px;margin:0;padding:0;font-weight:normal;overflow:hidden}.m_news_title
p{margin:0;padding:15px
0}.m_news_title p
span{margin:0
1px;color:#999;font-size:12px;line-height:19px}.m_news_div .news_info
img{max-width:100%}.m_news_div .news_info
iframe{width:265px !important;height:220px !important}