html, body {
    color: #000;
    font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ol, ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

input {
    -webkit-appearance: none;
}

.clr {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.copyright {
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.copyright a {
    color: #666;
}

/*index_ydcoo*/
#index_ydcoo {
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 0 auto;
}

#index_ydcoo .banner img {
    width: 100%;
}

#index_ydcoo .catemenu {
    overflow: hidden;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
}
#index_ydcoo .catemenu ul {
    width: 100%;
    overflow: hidden;
}
#index_ydcoo .catemenu li {
    display: list-item;
    width: 50%;
    float: left;
    font-size: 20px;
    border-top: 0;
}
#index_ydcoo .catemenu a {
    display: block;
    background-color: #FFFFFF;
    border: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 40px 5px 30px;
    height: 100%;
    text-align: center;
    color: #fff;
}
#index_ydcoo .catemenu img {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 auto 20px;
    position: relative;
    vertical-align: middle;
    border-radius: 3px;
}

#index_ydcoo .catemenu li a {
    margin: 10px 5px 5px 10px;
}

#index_ydcoo .catemenu li:nth-child(2n) a {
    margin: 10px 10px 5px 5px;
}

#index_ydcoo .catemenu li:nth-child(4n+1) a {
    background-color: #e39e43;
}
#index_ydcoo .catemenu li:nth-child(4n+2) a {
    background-color: #89bb42;
}
#index_ydcoo .catemenu li:nth-child(4n+3) a {
    background-color: #d66060;
}
#index_ydcoo .catemenu li:nth-child(4n+4) a {
    background-color: #49c9d4;
}

/*classify_ydcoo*/
#classify_ydcoo {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.top46{height:46px; padding:0; margin:0}
#ui-header{
    width: 100%;
    height: 46px;
    line-height:46px;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
}
#ui-header .fixed {
    display: block;
    margin: 0 auto;
    min-width: 320px;
    height: 45px;
    top: 0;
    border-bottom: 1px solid #D1D1D1;
    background-color: #f9f9f9;
}
#ui-header .ui-title {
    min-height: 46px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0 !important;
    text-indent: -10px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 200px;
    color: #679a01;
}
#ui-header .ui-btn-left {
    position: absolute;
    top: 2px;
    left: 0px;
    background: url(../image/icon_back.png) no-repeat center center;
    background-size: 12px 21px;
    display: block;
    width: 50px;
    height: 41px;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
}
#ui-header .ui-btn-right {
    position: absolute;
    top: 2px;
    right: 0px;
    display: block;
    width: 50px;
    height: 41px;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
}

.tab_list_title {
    background-color: #ffffff;
    border-bottom: 1px solid #D1D1D1;
    margin: 0;
}
.tab_list_title ul {
    width: 100%;
    overflow: scroll;
    display: inline-block;
}
.tab_list_title li {
    display: list-item;
    width: 25%;
    height: 72px;
    float: left;
    font-size: 14px;
}
.tab_list_title.col5 li {
    width: 20%;
}
.tab_list_title a {
    display: block;
    background-color: #679a01;
    border-radius: 3px;
    width: 62px;
    height: 62px;
    margin: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    text-align: center;
    color: #fff;
}
.tab_list_title img {
    width: 38px;
    height: 38px;
    display: block;
    margin: 5px auto 0;
    position: relative;
    vertical-align: middle;
}
.tab_list_title .tab_selected {
    background-color: #303538 !important;
}

.page_list {
    background-color: #ffffff;
    margin: 0;
    display: none;
}
.page_list.show {
    display: block;
}
.page_list li {
    display: list-item;
    border-bottom: 1px solid #D1D1D1;
}
.page_list a {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 72px;
    padding: 8px 0 8px 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #000000;
}
.page_list img {
    width: 72px;
    height: 72px;
    display: block;
    float: left;
    margin-left: 8px;
}
.page_list .img_content {
    height: 72px;
    display: block;
    margin-left: 88px;
    margin-right: 8px;
}
.page_list .img_content .img_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    height: 26px;
}
.page_list .img_content .img_text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #575757;
    height: 23px;
}
.page_list .img_content .img_time{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #878787;
    height: 23px;
}

/*content_ydcoo*/
#content_ydcoo * {
    max-width: 100%;
}
#content_ydcoo .content {
	margin: 10px;
	text-decoration: none;
	word-wrap: break-word;
}
#content_ydcoo .content .title {
    margin-bottom: 20px;
}
#content_ydcoo .content .title .head {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}
#content_ydcoo .content .title .subhead {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8c8c8c;
    margin-top: 10px;
}
#content_ydcoo .content .showpic {
    overflow: hidden;
    margin-bottom: 10px;
}
#content_ydcoo .content .text {
    font-size: 14px;
    color: #222222;
}

/*activity*/
.menu-header{
    width: 100%;
    height: 46px;
    line-height:46px;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
}
.menu-header .fixed {
    display: block;
    margin: 0 auto;
    min-width: 320px;
    height: 45px;
    top: 0;
    border-bottom: 1px solid #D1D1D1;
    background-color: #f9f9f9;
}
.menu-header ul {
}
.menu-header li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333%;
    height: 46px;
    border-right: 1px solid #D1D1D1;
    float: left;
    text-align: center;
    cursor: pointer;
}
.menu-header li:last-child {
    border-right: 0px none;
}
.menu-header li span {
    background: url(../image/icon_down_unfocus.png) no-repeat center right;
    background-size: 7px 6px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.menu-header li.selected span {
    background: url(../image/icon_down_focus.png) no-repeat center right;
    background-size: 7px 6px;
    color: #649433;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
    z-index: 9;
}
#overlay_gray {
    position: fixed;
    top: 46px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 8;
}
.dialog {
    position: fixed;
    top: 60px;

    left: 50%;
    width: 300px;
    margin: 0 0 0 -150px;
    display: none;
    z-index: 10;
    max-height: 80%;
    overflow-y: auto;
}
.dialog #loading {
    position: relative;
    display:block;
    margin: 0 auto;
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #D1D1D1;
    outline: none;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.dialog .dropdown {
    position: relative;
	display:block;
    margin: 0 auto;
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #D1D1D1;
    cursor: pointer;
    outline: none;
	list-style: none outside none;
}
/*.dialog .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 50%;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #f9f9f9 transparent;
}*/

.dialog .dropdown li {
    display: block;
    border-bottom: 1px solid #D1D1D1;
}
.dialog .dropdown li:last-child {
    border-right: 0px none;
}
.dialog .dropdown li a {
    display: block;
    padding: 3px 8px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: left;
}
.dialog .dropdown li.sepa {
    background-color: #D1D1D1;
}
.dialog .dropdown li.sepa a {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    cursor: default;
}
.dialog .dropdown li.sepa a:active {
    background-color: rgba(0,0,0,0);
}
.activity_list {
    background-color: #ffffff;
    margin: 0;
    display: block;
}
.activity_list li {
    display: list-item;
    border-bottom: 1px solid #D1D1D1;
}
.activity_list a {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 72px;
    padding: 8px 0 8px 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #000000;
}
.activity_list img {
    width: 72px;
    height: 72px;
    display: block;
    float: left;
    margin-left: 8px;
}
.activity_list .list_content {
    height: 72px;
    display: block;
    margin-left: 88px;
    margin-right: 8px;
}
.activity_list .list_content .list_title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: left;
    font-size: 16px;
    color: #000000;
    height: 21px;
}
.activity_list .list_content .list_text {
    display: block;
    margin-right: 72px;
}
.activity_list .list_content .list_line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: left;
    font-size: 14px;
    color: #575757;
    height: 17px;
}
.activity_list .list_content .list_suffix {
    width: 72px;
    height: 51px;
    display: block;
    float: right;
}
.activity_list .list_content .list_distance {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: right;
    font-size: 14px;
    color: #575757;
    height: 25px;
    line-height: 25px;
}
.activity_list .list_content .list_people {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: right;
    font-size: 16px;
    color: #000000;
    height: 26px;
    line-height: 26px;
}

.type_id_color_0 {
    color: #ffa118;
}
.type_id_color_1 {
    color: #7faa2d;
}
.type_id_color_2 {
    color: #79d0ef;
}

/*ydcoo_activity_detail*/
.ydcoo_page_detail * {
    max-width: 100%;
}
.download-bar {
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.download-bar img {
    width: 100%;
    float: left;
}

.ydcoo_page_detail .signup {
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 62px;
    width: 56px;
    height: 56px;
    background-color: transparent;
    cursor: pointer;
    border: 10px solid rgba(103, 154, 1, 0.3);
    border-radius: 56px;
}
.ydcoo_page_detail .signup div {
    background-color: #679a01;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    width: 56px;
    height: 56px;
    padding: 10px;
    text-align: center;
    border-radius: 56px;
    box-sizing: border-box;
}
.content {
	margin: 10px;
	text-decoration: none;
	word-wrap: break-word;
}
.content .group {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.content .group li {
    margin: .5em 0 0;
  font-size: .8em;
}
[class^="activity-logo-"] {
  position: relative;
  color: #666;
  font-weight: bold;
  padding-left: 2em;
}
[class^="activity-logo-"]:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  display: block;
  width: 20px;
  height: 20px;
}
.activity-logo-1:after {
  background: url(/ydcoo/image/icon-activity-1.png) no-repeat center center / 20px 20px;
}
.activity-logo-2:after {
  background: url(/ydcoo/image/icon-activity-2.png) no-repeat center center / 20px 20px;
}
.activity-logo-3:after {
  background: url(/ydcoo/image/icon-activity-3.png) no-repeat center center / 20px 20px;
}
.activity-logo-4:after {
  background: url(/ydcoo/image/icon-activity-4.png) no-repeat center center / 20px 20px;
}
.activity-logo-5:after {
  background: url(/ydcoo/image/icon-activity-5.png) no-repeat center center / 20px 20px;
}
.activity-logo-6:after {
  background: url(/ydcoo/image/icon-activity-6.png) no-repeat center center / 20px 20px;
}
.activity-logo-7:after {
  background: url(/ydcoo/image/icon-activity-7.png) no-repeat center center / 20px 20px;
}
.activity-logo-8:after {
  background: url(/ydcoo/image/icon-activity-8.png) no-repeat center center / 20px 20px;
}
.activity-logo-9:after {
  background: url(/ydcoo/image/icon-activity-9.png) no-repeat center center / 20px 20px;
}
.content .active_name {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.content .group .group_name {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    padding-left: 6px;
    border-left: 4px solid #000000;
}
.content .group .group_name #moreAccount {
    width: 28px;
    height: 28px;
    display: block;
    float: right;
    cursor: pointer;
}
#infoWindow .window {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    display: block;
    position: relative;
    width: 300px;
}
#adWindow .window {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    display: block;
    position: relative;
    width: 300px;
    min-height: 200px;
}

.bold {
    font-weight: bold;
}
.highline {
    color: #679a01;
    font-weight: bold;
}

.btn_gray {
    display: block;
    border: 1px solid #679a01;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #679a01;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 4px;
    height: 32px;
    line-height: 32px;
}
.btn_gray img {
    max-height: 32px;
    vertical-align: text-bottom;
}
.btn_green {
    display: block;
    cursor: pointer;
    margin: 20px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    text-align: center;
    background-color: #679a01;
    color: #FFFFFF;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
}

.content .account_list .account {
  width: 16.5%;
    padding: 4px;
    display: inline-block;
  box-sizing: border-box;
}
.content .account_list .account img {
  width: 100%;
  border-radius: 50%;
}
.content .account_list .account .account_name {
  width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
}
.content .account_list .expand {
    width: 100%;
    height: 23px;
    background: url(../image/icon_finger_down.png) no-repeat center center;
    background-size: 21px 12px;
}
.content .account_list .beEntered {
    display: block;
    background-color: #efefef;
    position: relative;
    min-height: 50px;
    margin-top: 1em;
    padding: 3px;
}
.content .account_list .beEntered .sum {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 110px;
    text-align: center;
}
.content .account_list .beEntered .sum h3 {
    font-weight: normal;
    color: #3b3b3b;
    font-size: 1em;
}
.content .account_list .beEntered .sum p {
    font-weight: normal;
    color: #5f5f5f;
    font-size: 0.9em;
}
.content .account_list .beEntered .list {
    padding-left: 110px;
    font-weight: normal;
    color: #5f5f5f;
    font-size: 0.9em;
}

.content .comment {
    border-top: 1px solid #dddddd;
    padding: 10px 0;
}
.content .comment img {
  width: 48px;
  height: 48px;
    float: left;
  border-radius: 50%;
}
.content .comment .comment_content {
    padding-left: 58px;
}
.content .comment .comment_content .comment_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.content .comment .comment_content .comment_desc {
    font-size: 12px;
}
.content .comment .comment_content .comment_time {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    margin-top: 3px;
    color: #505050;
}

/*reg_name & reg_phone*/
.form_text {
    display: block;
    margin: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form_text .account {
    background: url(../image/icon_user.png) no-repeat center center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 4px 8px 4px 4px;
    display: block;
    float: left;
}
.form_text .email {
    background: url(../image/icon_email.png) no-repeat center center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 4px 8px 4px 4px;
    display: block;
    float: left;
}
.form_text .password {
    background: url(../image/icon_pwd.png) no-repeat center center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 4px 8px 4px 4px;
    display: block;
    float: left;
}
.form_text .phone {
    background: url(../image/icon_tel_small_gray.png) no-repeat center center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 4px 8px 4px 4px;
    display: block;
    float: left;
}
.form_text .idcard {
    background: url(../image/icon_idcard.png) no-repeat center center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 4px 8px 4px 4px;
    display: block;
    float: left;
}
.form_text .qq {
    background: url(../image/icon_qq.png) no-repeat center center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 4px 8px 4px 4px;
    display: block;
    float: left;
}
.form_text .input {
    height: 26px;
    line-height: 26px;
    margin: 4px;
    display: block;
    overflow: hidden;
}
.form_text .input input {
    height: 26px;
    line-height: 26px;
    border: 0 none;
    width: 100%;
    font-size: 16px;
}
.form_radio {
    display: block;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form_radio label {
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}
.form_radio label input {
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
}
.form_radio label .check {
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    display: inline-block;
    height: 16px;
    margin: 0 5px 0 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 16px;
    border-radius: 50%;
}
.form_radio label:hover .check {
    border-color: #919191;
}
.form_radio label input[type="radio"]:checked ~ .check:after {
    background-color: #1d1d1d;
    border-radius: 50%;
    content: "" !important;
    display: block;
    height: 10px;
    margin: 3px;
    width: 10px;
}
.form_textarea {
    margin: 10px;
}
.form_textarea textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 270px;
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    padding: 4px;
    font-size: 16px;
}
.btn_submit {
    display: block;
    margin: 20px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    height: 46px;
    line-height: 46px;
}
.btn_submit input {
    cursor: pointer;
    width: 100%;
    height: 46px;
    font-size: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-color: #679a01;
    color: #FFFFFF;
}

.note {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #8e8e8e;
}
.note span {
    color: #679a01;
}
.btn_sent {
    display: block;
    margin: 0 10px 0 10px;
    padding: 0 8px;
    text-align: center;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 34px;
    line-height: 34px;
    float: right;
    min-width: 7em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #565656;
}
.btn_sent.gray {
    background-color: #D1D1D1;
}
.msg {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin: 10px;
}

/*ydcoo_reg_success*/
.download {
    margin: 10px;
    padding: 0;
    display: block;
    text-decoration: none;
    position: relative;
    line-height: 0;
}
.download img {
    width: 100%;
}
.download .text {
    position: absolute;
    left: 0;
    bottom: 16%;
    z-index: 9;
    line-height: 1em;
    display: block;
    width: 100%;
    text-align: center;
}
.download .text .btn {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    background-color: #ffffff;
    color: #629609;
    font-size: 16px;
    padding: 0 10px;
}

/*ydcoo_reg*/
.btn_link {
    display: block;
    margin: 30px 20px;
    height: 46px;
    line-height: 46px;
    background-color: #629609;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
}

/*ydcoo_login*/
#ydcoo_login .content {
	margin: 10px;
	text-decoration: none;
	word-wrap: break-word;
}
.content .user_info {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 56px;
    line-height: 56px;
    padding: 8px;
    background-color: #eeeeee;
}
.content .user_info img {
    width: 56px;
    height: 56px;
    float: left;
    margin-right: 10px;
}

/*ydcoo_signup*/
#ydcoo_signup .content {
	margin: 10px;
	text-decoration: none;
	word-wrap: break-word;
}
#ydcoo_signup .content .active_info {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    background-color: #eeeeee;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #eeeeee;
}
#ydcoo_signup .content .active_info img {
    width: 56px;
    height: 56px;
    float: left;
    margin-right: 10px;
}
.login-text {
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.login {
    display: block;
    overflow: hidden;
    margin: 20px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #FFFFFF;
}
.line {
    background-color: #D1D1D1;
    width: 100%;
    height: 1px;
}

.other-login a {
    display: block;
    width: 176px;
    height: 42px;
    margin: 0 auto 10px;
    background-image: url(../other_login_btn.png);
}
.other-login a.qqlogin {
    background-position: 0 0;
}
.other-login a.weibologin {
    background-position: 0 -42px;
}
.other-login a.wechatlogin {
    background-position: 0 -168px;
}

.male {
    background-image: url(../icon_male.png);
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: text-top;
}
.female {
    background-image: url(../icon_female.png);
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: text-top;
}

#ydcoo_updatepwd .content {
	margin: 10px 10px 20px;
	text-decoration: none;
	word-wrap: break-word;
}