body
{
    font-family :RTWSYueGoTrial-Light;
    color:rgba(34,34,34,1);
}
.title {
    text-align:left;
    font-size:20px;
    font-weight:bold;
    color:black;
    margin-left:5px;
    margin-right:5px;
    
}

.time {
    text-align:left;
    font-size:14px;
    color:gray;
    margin-top:7px;
    margin-bottom:7px;
    margin-left:5px;
    
}
.author{
    color:#30AD63;
}
.img-parent {
    text-align:center;
    margin-bottom:10px;

}
.daodu{
    border:dotted #eee 1px;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
    background-color:#eee;
    color:rgba(88,88,88,1);
    
    
}

.daodu_word{
    background:#30AD63;
    color:#FFF;
    padding:3px;
    margin-right:3px;

}
.daodu_content{
    color:#666 ;
    font-size:13px
    
}

.copyright {
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #666;
}