tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
.font7
	{color:#000000;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"宋体";
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font8
	{color:#000000;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman";
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font52
	{color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"宋体";
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font53
	{color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"宋体";
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.style0
	{mso-number-format:"General";
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-pattern:auto;
	mso-background-source:auto;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"常规";
	mso-style-id:0;}
.style16
	{mso-number-format:"_ \0022\00A5\0022* \#\,\#\#0_ \;_ \0022\00A5\0022* \\-\#\,\#\#0_ \;_ \0022\00A5\0022* \0022-\0022_ \;_ \@_ ";
	mso-style-name:"货币[0]";
	mso-style-id:7;}
.style17
	{mso-pattern:auto none;
	background:#EDEDED;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"20% - 强调文字颜色 3";}
.style18
	{mso-pattern:auto none;
	background:#FFCC99;
	color:#3F3F76;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid #7F7F7F;
	mso-style-name:"输入";}
.style19
	{mso-number-format:"_ \0022\00A5\0022* \#\,\#\#0\.00_ \;_ \0022\00A5\0022* \\-\#\,\#\#0\.00_ \;_ \0022\00A5\0022* \0022-\0022??_ \;_ \@_ ";
	mso-style-name:"货币";
	mso-style-id:4;}
.style20
	{mso-number-format:"_ * \#\,\#\#0_ \;_ * \\-\#\,\#\#0_ \;_ * \0022-\0022_ \;_ \@_ ";
	mso-style-name:"千位分隔[0]";
	mso-style-id:6;}
.style21
	{mso-pattern:auto none;
	background:#DBDBDB;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"40% - 强调文字颜色 3";}
.style22
	{mso-pattern:auto none;
	background:#FFC7CE;
	color:#9C0006;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"差";}
.style23
	{mso-number-format:"_ * \#\,\#\#0\.00_ \;_ * \\-\#\,\#\#0\.00_ \;_ * \0022-\0022??_ \;_ \@_ ";
	mso-style-name:"千位分隔";
	mso-style-id:3;}
.style24
	{mso-pattern:auto none;
	background:#C9C9C9;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"60% - 强调文字颜色 3";}
.style25
	{color:#0000FF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"超链接";
	mso-style-id:8;}
.style26
	{mso-number-format:"0%";
	mso-style-name:"百分比";
	mso-style-id:5;}
.style27
	{color:#800080;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"已访问的超链接";
	mso-style-id:9;}
.style28
	{mso-pattern:auto none;
	background:#FFFFCC;
	border:.5pt solid #B2B2B2;
	mso-style-name:"注释";}
.style29
	{mso-pattern:auto none;
	background:#F4B084;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"60% - 强调文字颜色 2";}
.style30
	{color:#44546A;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-style-name:"标题 4";}
.style31
	{color:#FF0000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"警告文本";}
.style32
	{color:#44546A;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-style-name:"标题";}
.style33
	{color:#7F7F7F;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"解释性文本";}
.style34
	{color:#44546A;
	font-size:15.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border-bottom:1.0pt solid #5B9BD5;
	mso-style-name:"标题 1";}
.style35
	{color:#44546A;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border-bottom:1.0pt solid #5B9BD5;
	mso-style-name:"标题 2";}
.style36
	{mso-pattern:auto none;
	background:#9BC2E6;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"60% - 强调文字颜色 1";}
.style37
	{color:#44546A;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border-bottom:1.0pt solid #ACCCEA;
	mso-style-name:"标题 3";}
.style38
	{mso-pattern:auto none;
	background:#FFD966;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"60% - 强调文字颜色 4";}
.style39
	{mso-pattern:auto none;
	background:#F2F2F2;
	color:#3F3F3F;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid #3F3F3F;
	mso-style-name:"输出";}
.style40
	{mso-pattern:auto none;
	background:#F2F2F2;
	color:#FA7D00;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid #7F7F7F;
	mso-style-name:"计算";}
.style41
	{mso-pattern:auto none;
	background:#A5A5A5;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:2.0pt double #3F3F3F;
	mso-style-name:"检查单元格";}
.style42
	{mso-pattern:auto none;
	background:#E2EFDA;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"20% - 强调文字颜色 6";}
.style43
	{mso-pattern:auto none;
	background:#ED7D31;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"强调文字颜色 2";}
.style44
	{color:#FA7D00;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-bottom:2.0pt double #FF8001;
	mso-style-name:"链接单元格";}
.style45
	{color:#000000;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border-top:.5pt solid #5B9BD5;
	border-bottom:2.0pt double #5B9BD5;
	mso-style-name:"汇总";}
.style46
	{mso-pattern:auto none;
	background:#C6EFCE;
	color:#006100;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"好";}
.style47
	{mso-pattern:auto none;
	background:#FFEB9C;
	color:#9C6500;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"适中";}
.style48
	{mso-pattern:auto none;
	background:#D9E1F2;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"20% - 强调文字颜色 5";}
.style49
	{mso-pattern:auto none;
	background:#5B9BD5;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"强调文字颜色 1";}
.style50
	{mso-pattern:auto none;
	background:#DDEBF7;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"20% - 强调文字颜色 1";}
.style51
	{mso-pattern:auto none;
	background:#BDD7EE;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"40% - 强调文字颜色 1";}
.style52
	{mso-pattern:auto none;
	background:#FCE4D6;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"20% - 强调文字颜色 2";}
.style53
	{mso-pattern:auto none;
	background:#F8CBAD;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"40% - 强调文字颜色 2";}
.style54
	{mso-pattern:auto none;
	background:#A5A5A5;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"强调文字颜色 3";}
.style55
	{mso-pattern:auto none;
	background:#FFC000;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"强调文字颜色 4";}
.style56
	{mso-pattern:auto none;
	background:#FFF2CC;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"20% - 强调文字颜色 4";}
.style57
	{mso-pattern:auto none;
	background:#FFE699;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"40% - 强调文字颜色 4";}
.style58
	{mso-pattern:auto none;
	background:#4472C4;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"强调文字颜色 5";}
.style59
	{mso-pattern:auto none;
	background:#B4C6E7;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"40% - 强调文字颜色 5";}
.style60
	{mso-pattern:auto none;
	background:#8EA9DB;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"60% - 强调文字颜色 5";}
.style61
	{mso-pattern:auto none;
	background:#70AD47;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"强调文字颜色 6";}
.style62
	{mso-pattern:auto none;
	background:#C6E0B4;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"40% - 强调文字颜色 6";}
.style63
	{mso-pattern:auto none;
	background:#A9D08E;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:"60% - 强调文字颜色 6";}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	mso-number-format:"General";
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-pattern:auto;
	mso-background-source:auto;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;}
.xl65
	{mso-style-parent:style0;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl66
	{mso-style-parent:style0;
	text-align:center;
	font-size:20.0pt;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	font-size:22.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl68
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;}
.xl69
	{mso-style-parent:style0;
	text-align:left;
	color:#2F75B5;
	font-size:14.0pt;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;}
.xl71
	{mso-style-parent:style0;
	text-align:center;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl72
	{mso-style-parent:style0;
	text-align:center;
	font-size:14.0pt;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;}
.xl73
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl74
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl75
	{mso-style-parent:style0;
	text-align:center;
	font-size:18.0pt;
	font-weight:700;
	mso-font-charset:134;
	border-bottom:2.0pt double #000000;}
.xl76
	{mso-style-parent:style0;
	text-align:left;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl77
	{mso-style-parent:style0;
	text-align:center;
	font-size:18.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl78
	{mso-style-parent:style0;
	text-align:center;
	font-size:10.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl79
	{mso-style-parent:style0;
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-size:12.0pt;
	font-weight:700;
	mso-font-charset:134;
	border-bottom:1.5pt solid #C65911;}
.xl80
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0_\)\;\[Red\]\\\(\\¥\#\,\#\#0\\\)";
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-size:12.0pt;
	font-weight:700;
	mso-font-charset:134;
	border-bottom:1.5pt solid #C65911;}
.xl81
	{mso-style-parent:style0;
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;
	border-left:.5pt solid #BFBFBF;
	border-right:.5pt solid #BFBFBF;}
.xl82
	{mso-style-parent:style0;
	text-align:center;
	white-space:normal;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;
	border-left:.5pt solid #BFBFBF;
	border-right:.5pt solid #BFBFBF;}
.xl83
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0_\)\;\[Red\]\\\(\\¥\#\,\#\#0\\\)";
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;
	border-left:.5pt solid #BFBFBF;
	border-right:.5pt solid #BFBFBF;}
.xl84
	{mso-style-parent:style0;
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl85
	{mso-style-parent:style0;
	mso-number-format:"yyyy/m/d\;\@";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl86
	{mso-style-parent:style0;
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl87
	{mso-style-parent:style0;
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl88
	{mso-style-parent:style0;
	mso-number-format:"\\$\#\,\#\#0_\)\;\[Red\]\\\(\\$\#\,\#\#0\\\)";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl89
	{mso-style-parent:style0;
	mso-number-format:"yyyy/m/d\;\@";
	font-size:12.0pt;
	mso-font-charset:134;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl90
	{mso-style-parent:style0;
	font-size:12.0pt;
	mso-font-charset:134;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl91
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0_\)\;\[Red\]\\\(\\¥\#\,\#\#0\\\)";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl92
	{mso-style-parent:style0;
	mso-number-format:"yyyy/m/d\;\@";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl93
	{mso-style-parent:style0;
	mso-number-format:"yyyy/m/d\;\@";
	text-align:center;
	white-space:normal;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl94
	{mso-style-parent:style0;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl95
	{mso-style-parent:style0;
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl96
	{mso-style-parent:style0;
	mso-number-format:"yyyy/m/d\;\@";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl97
	{mso-style-parent:style0;
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl98
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0_\)\;\[Red\]\\\(\\¥\#\,\#\#0\\\)";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl99
	{mso-style-parent:style0;
	text-align:center;
	color:#ED7D31;
	font-size:12.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl100
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0\;\\¥\\-\#\,\#\#0";
	text-align:center;
	font-size:12.0pt;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl101
	{mso-style-parent:style0;
	mso-number-format:"\#\,\#\#0\.00_\)\;\[Red\]\\\(\#\,\#\#0\.00\\\)";
	text-align:center;
	font-size:12.0pt;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl102
	{mso-style-parent:style0;
	text-align:left;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl103
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl104
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl105
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Arial;
	mso-font-charset:134;}
.xl106
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:bottom;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl107
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl108
	{mso-style-parent:style0;
	text-align:left;
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl109
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl110
	{mso-style-parent:style0;
	font-family:Tahoma;
	mso-font-charset:134;
	border-bottom:1.0pt solid windowtext;}
.xl111
	{mso-style-parent:style0;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl112
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl113
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0\;\\¥\\-\#\,\#\#0";
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-size:12.0pt;
	font-weight:700;
	mso-font-charset:134;
	border-bottom:1.5pt solid #C65911;}
.xl114
	{mso-style-parent:style0;
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	color:#FF0000;
	font-size:12.0pt;
	font-weight:700;
	mso-font-charset:134;
	border-bottom:1.5pt solid #C65911;}
.xl115
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0_\)\;\[Red\]\\\(\\¥\#\,\#\#0\\\)";
	text-align:center;
	white-space:normal;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;
	border-left:.5pt solid #BFBFBF;
	border-right:.5pt solid #BFBFBF;}
.xl116
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0\;\\¥\\-\#\,\#\#0";
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;
	border-left:.5pt solid #BFBFBF;
	border-right:.5pt solid #BFBFBF;}
.xl117
	{mso-style-parent:style0;
	text-align:center;
	mso-pattern:auto none;
	background:#F2F2F2;
	color:#FF0000;
	font-weight:700;
	font-family:Times New Roman;
	mso-font-charset:134;
	border-left:.5pt solid #BFBFBF;
	border-right:.5pt solid #BFBFBF;}
.xl118
	{mso-style-parent:style0;
	text-align:center;
	color:#FF0000;
	font-size:10.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl119
	{mso-style-parent:style0;
	text-align:center;
	color:#FF0000;
	font-size:12.0pt;
	mso-font-charset:134;
	border-top:1.0pt dashed #BFBFBF;
	border-top-style:dot-dash-slanted;
	border-bottom:1.0pt dashed #BFBFBF;
	border-bottom-style:dot-dash-slanted;}
.xl120
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0_\)\;\[Red\]\\\(\\¥\#\,\#\#0\\\)";
	text-align:center;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl121
	{mso-style-parent:style0;
	text-align:center;
	color:#FF0000;
	font-size:12.0pt;
	mso-font-charset:134;}
.xl122
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0\;\\¥\\-\#\,\#\#0";
	font-size:14.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl123
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0\;\\¥\\-\#\,\#\#0";
	text-align:center;
	color:#FF0000;
	font-size:14.0pt;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl124
	{mso-style-parent:style0;
	mso-number-format:"\\¥\#\,\#\#0\;\\¥\\-\#\,\#\#0";
	text-align:center;
	color:#FF0000;
	font-size:14.0pt;
	font-family:Tahoma;
	mso-font-charset:134;}
.xl125
	{mso-style-parent:style0;
	text-align:center;
	font-size:18.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl126
	{mso-style-parent:style0;
	mso-number-format:"yyyy\0022年\0022m\0022月\0022d\0022日\0022\;\@";
	text-align:center;
	font-size:18.0pt;
	font-weight:700;
	mso-font-charset:134;}
.xl127
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-family:Tahoma;
	mso-font-charset:134;
	border-bottom:1.0pt solid windowtext;}
