* {
    margin: 0;
    padding: 0
}

body {
    font-size: 15px;
    font-family: Arial,"Microsoft Yahei"
}

i,span {
    display: inline-block;
    vertical-align: middle
}

button,input,select,option,textarea,pre {
    font-size: inherit;
    font-family: inherit
}

textarea {
    resize: none
}

ul,li,dl,dt,dd {
    list-style: none
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    display: inline-block
}

a,label,:focus {
    outline: 0 none
}

label {
    vertical-align: middle
}

img {
    border: 0;
    vertical-align: middle
}

abbr[title] {
    border-bottom: 1px dotted
}

dfn {
    font-style: italic
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

.code {
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word
}

.highlight {
    padding: 9px 14px;
    margin: 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #f7f7f7
}

.highlight pre {
    word-break: normal
}

.doctype {
    color: #099
}

.comment {
    color: #094
}

.tag {
    color: #2f6f9f
}

.property {
    color: #4f9fcf
}

.val {
    color: #d44950
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.overflow-hide {
    overflow: hidden
}

.overflow-auto {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-x {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap
}

.overflow-y {
    overflow-y: auto;
    overflow-x: hidden
}

.break-all {
    word-break: break-all
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.clearfix:before,.clearfix:after {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom:1}

.clear {
    clear: both
}

.shadow {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2)
}

.reflect-below {
    -webkit-box-reflect: below 5px -webkit-linear-gradient(transparent, transparent 60%, rgba(0,0,0,0.2))
}

.bg-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
    border-top: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset
}

.noopacity {
    opacity: 1;
    filter: alpha(opacity=100)
}

.opacity7 {
    opacity: .7;
    filter: alpha(opacity=70)
}

.opacity6 {
    opacity: .6;
    filter: alpha(opacity=60)
}

.opacity3 {
    opacity: .3;
    filter: alpha(opacity=30)
}

.opacity0 {
    opacity: 0;
    filter: alpha(opacity=0)
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.borderbox {
    box-sizing: border-box
}

.contentbox {
    box-sizing: content-box
}

.noborder {
    border: none !important
}

hr {
    border: none;
    clear: both;
    border-width: 1px 0 0 0;
    border-style: solid
}

hr.dotted {
    border-style: dotted
}

br {
    clear: both
}

small {
    font-size: 80%;
    color: #aaa
}

.bold {
    font-weight: bold
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

.before-filter-sepia,.before-filter-grayscale,.before-filter-blur,.before-filter-invert,.before-filter-saturate,.before-filter-contrast,.before-filter-brightness,.before-filter-hue-rotate,.before-filter-drop-shadow {
    position: relative;
    z-index: 0
}

.before-filter-sepia:before,.before-filter-grayscale:before,.before-filter-blur:before,.before-filter-invert:before,.before-filter-saturate:before,.before-filter-contrast:before,.before-filter-brightness:before,.before-filter-hue-rotate:before,.before-filter-drop-shadow:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden
}

.filter-sepia,.before-filter-sepia:before {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
    filter: sepia(100%)
}

.filter-grayscale,.before-filter-grayscale:before {
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%)
}

.filter-blur,.before-filter-blur:before {
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: .9;
    -webkit-filter: blur(2px)
}

.filter-invert,.before-filter-invert:before {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1)
}

.filter-saturate,.before-filter-saturate:before {
    -webkit-filter: saturate(2);
    -moz-filter: saturate(2);
    -o-filter: saturate(2);
    -ms-filter: saturate(2);
    filter: saturate(2)
}

.filter-contrast,.before-filter-contrast:before {
    -webkit-filter: contrast(2);
    -moz-filter: contrast(2);
    -o-filter: contrast(2);
    -ms-filter: contrast(2);
    filter: contrast(2)
}

.filter-brightness,.before-filter-brightness:before {
    -webkit-filter: brightness(2);
    -moz-filter: brightness(2);
    -o-filter: brightness(2);
    -ms-filter: brightness(2);
    filter: brightness(2)
}

.filter-hue-rotate,.before-filter-hue-rotate:before {
    -webkit-filter: hue-rotate(200deg);
    -moz-filter: hue-rotate(200deg);
    -o-filter: hue-rotate(200deg);
    -ms-filter: hue-rotate(200deg);
    filter: hue-rotate(200deg)
}

.filter-drop-shadow,.before-filter-drop-shadow:before {
    -webkit-filter: drop-shadow(1px 1px 0 #333);
    -moz-filter: drop-shadow(1px 1px 0 #333);
    -o-filter: drop-shadow(1px 1px 0 #333);
    -ms-filter: drop-shadow(1px 1px 0 #333);
    filter: drop-shadow(1px 1px 0 #333)
}

html,body {
    height: 100%
}

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch
}

.body-box,#section_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s
}

.body-scroller {
    height: 100%;
    overflow: auto;
    box-sizing: border-box
}

.section_container_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none
}

section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0
}

section.active {
    display: block
}

.scroller {
    position: relative;
    width: 100%
}

header,footer {
    position: fixed;
    width: 100%;
    z-index: 2
}

header {
    top: 0
}

footer {
    bottom: 0
}

section>header,section>footer {
    position: absolute
}

body>header+article {
    padding-top: 44px
}

section>article {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto
}

button,input[type="button"],input[type="submit"],input[type="checkbox"],input[type="radio"],input[type="text"],input[type="password"],input[type="search"],input[type="file"],input[type="number"],input[type="tel"],input[type="email"],input[type="url"],input[type="date"],input[type="month"],input[type="week"],input[type="datetime-local"],input[type="datetime"],input[type="time"],keygen,input[list],textarea,select,input[type=range],input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

.menubar {
    color: #888;
    background-color: #f8f8f8
}

.menubar.reverse .tab {
    position: relative;
    border-color: #36acf4
}

.menubar .tab .point{
    position: absolute;
    left: 50%;
    margin-left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc0000;
}

.arrowbar,.menubar.reverse {
    color: #fff;
    background-color: #36acf4
}

.arrowbar .tab,.menubar.reverse .tab {
    opacity: .5
}

.arrowbar .tab:active,.arrowbar .tab.active,.menubar.reverse .tab:active,.menubar.reverse .tab.active {
    color: #fff;
    opacity: 1
}


.arrowbar .tab-label,.menubar .tab-label {
    display: block;
    height: 24px;
    line-height: 24px
}

.arrowbar .tab .icon,.menubar .tab .icon {
    margin-top: 5px
}

.rectbar,.slidebar,.arrowbar,.menubar,.tabbar {
    border-color: #ddd
}



/**icon**/

.icon,.fa,.iconfont {
    font-size: 24px;
    width: 24px;
    height: 24px
}

.iconfont{
    line-height: 24px;
}

.list .icon,.list .fa,.list .iconfont {
    font-size: 16px;
    width: 16px;
    height: 16px
}

.card-info .icon,.card-handler .icon,.card-info .fa,.card-handler .fa, .card-info .iconfont,.card-handler .iconfont {
    font-size: 20px;
    width: 20px;
    height: 20px
}

.grid .fa,.grid .iconfont {
    font-size: 32px;
    width: 32px;
    height: 32px
}

.metro .fa,.metro .iconfont {
    font-size: 40px;
    width: 40px;
    height: 40px
}

.arrowbar .fa .icon,.menubar .tab .fa,.menubar .tab .iconfont {
    margin-top: 5px
}



.tab {
    position: relative;
    display: table-cell;
    width: 1%;
    text-align: center;
    box-sizing: border-box
}

.tab-label {
    display: inline-block;
    font-size: 0.65rem;
    height: 13px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none
}

.tab:active .icon,.tab.active .icon {
    background-position: center bottom
}


.menubar .tab {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: inherit
}


.tab:active,.tab.active {
    color: #ff6600
}

.rectbar,.slidebar,.tabbar {
    color: #666
}

.slidebar .tab:active,.slidebar .tab.active {
    border-color: #ff6600
}


.input-box,.row,.titlebar {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}



.titlebar {
    background-color: #ff6600;
    border-color: #ddd;
    min-height: 44px;
    border-bottom: 1px solid;
    box-sizing: border-box;
    height: 0.875rem;
    text-align: center;
}

.titlebar,.titlebar a,.titlebar h1 {
    position: relative
}

.titlebar h1 {
    font-size: 0.875rem;
    font-weight: normal;
    -webkit-box-flex: 1;
    box-flex: 1
}

.titlebar h1:first-child {
    margin-left: 8px
}

.titlebar h1:only-child {
    margin-right: 8px
}

.titlebar a,.titlebar button {
    margin: 0 8px
}

.titlebar a+a,.titlebar a+button,.titlebar button+button {
    margin-left: 0
}

.titlebar .left,.titlebar .right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

.titlebar .left {
    left: 0
}

.titlebar .right {
    right: 0
}

.titlebar>.searchbar {
    width: 100%
}

.titlebar h1 {
    color: #333
}

.titlebar a {
    color: #36acf4
}

.titlebar a:active:not(.disable) {
    color: rgba(54,172,244,0.5)
}

.titlebar a.disable:not(.button) {
    opacity: .5
}

.titlebar.reverse {
    background-color: #0099ff;
    border-color: #ff6600
}

.titlebar.reverse h1 {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* text-align: center; */
    line-height: 43px;
    z-index: 1;
}

.titlebar.reverse a,.titlebar.reverse .button {
    color: #fff;
    border-color: rgba(255,255,255,0.5)
}

.titlebar.reverse a:active,.titlebar.reverse .button:active,.titlebar.reverse a.active,.titlebar.reverse .button.active {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.25)
}

.titlebar>.searchbar {
    background-color: transparent
}

.titlebar.reverse>.searchbar .input-box {
    border-color: #36acf4
}

.rectbar,.slidebar,.arrowbar,.menubar,.tabbar {
    position: relative;
    display: table;
    margin: 0 auto
}


/**tabbar**/

.tabbar{
    border-bottom: 1px solid #d6d7dc;

    .tab{
        &:active,&.active{
            color:#f4634b;
        }
    }
}

.tabbar.animate-slide {
    overflow: hidden;
    display: block;
    line-height: 0;
    font-size: 0;
    background: #f1f1f1;
}

.tabbar.animate-slide .tab {
    display: inline-block;
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabbar.animate-slide hr {
    position: absolute;
    top: 38px;
    left: 0;
    width: 25%;
    border-width: 2px 0 0 0;
    border-style: solid;
    pointer-events: none;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transition-timing-function: cubic-bezier(1, .01, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, .01, 0, 1.22);
    transition-timing-function: cubic-bezier(1, .01, 0, 1.22)
}

.tabbar.animate-slide .tab:nth-child(1).active~hr {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabbar.animate-slide .tab:nth-child(2).active~hr {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.tabbar.animate-slide .tab:nth-child(3).active~hr {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0)
}

.tabbar.animate-slide .tab:nth-child(4).active~hr {
    -webkit-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0)
}

.tabbar.animate-slide .tab:nth-child(5).active~hr {
    -webkit-transform: translate3d(400%, 0, 0);
    transform: translate3d(400%, 0, 0)
}

.tabbar.animate-slide .tab:nth-child(6).active~hr {
    -webkit-transform: translate3d(500%, 0, 0);
    transform: translate3d(500%, 0, 0)
}

.tabbar.animate-twoline .tab {
    -webkit-transition: color .3s;
    transition: color .3s
}


.tabbar.animate-twoline .tab::before,.tabbar.animate-twoline .tab::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s
}

.tabbar.animate-twoline .tab::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.tabbar.animate-twoline .tab::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.tabbar.animate-twoline .tab.active::before,.tabbar.animate-twoline .tab.active::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(.22, .61, .36, 1);
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.tabbar.animate-oneline .tab {
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabbar.animate-oneline .tab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform .1s;
    transition: transform .1s
}

.tabbar.animate-oneline .tab.active::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.tabbar.animate-box .tab {
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabbar.animate-box .tab::before,.tabbar.animate-box .tab::after,.tabbar.animate-box .tab-label::before,.tabbar.animate-box .tab-label::after {
    content: '';
    position: absolute;
    background: #d94f5c;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s
}

.tabbar.animate-box .tab::before,.tabbar.animate-box .tab::after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1)
}

.tabbar.animate-box .tab::before {
    left: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.tabbar.animate-box .tab::after {
    right: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0
}

.tabbar.animate-box .tab-label::before,.tabbar.animate-box .tab-label::after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1)
}

.tabbar.animate-box .tab-label::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.tabbar.animate-box .tab-label::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.tabbar.animate-box .tab.active::before,.tabbar.animate-box .tab.active::after,.tabbar.animate-box .tab.active .tab-label::before,.tabbar.animate-box .tab.active .tab-label::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.tabbar.animate-bracket .tab-label {
    width: 100%
}

.tabbar.animate-bracket .tab::before,.tabbar.animate-bracket .tab-label::before,.tabbar.animate-bracket .tab-label::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 2px;
    opacity: 0
}

.tabbar.animate-bracket .tab-label::before,.tabbar.animate-bracket .tab-label::after {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    -webkit-transition: -webkit-transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s
}

.tabbar.animate-bracket .tab.active .tab-label::before,.tabbar.animate-bracket .tab.active .tab-label::after {
    opacity: 1
}

.tabbar.animate-bracket .tab-label::before {
    left: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.tabbar.animate-bracket .tab.active .tab-label::before {
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg)
}

.tabbar.animate-bracket .tab-label::after {
    right: 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.tabbar.animate-bracket .tab.active .tab-label::after {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg)
}

.tabbar.animate-bracket .tab::before {
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    -webkit-transition: -webkit-transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s
}

.tabbar.animate-bracket .tab.active::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .3s,opacity .1s;
    transition: transform .3s,opacity .1s
}


.rectbar .tab-label,.slidebar .tab-label,.tabbar .tab-label {
    height: 24px;
    line-height: 24px;
    vertical-align: middle
}

.arrowbar .tab-label,.menubar .tab-label {
    display: block;
    height: 24px;
    line-height: 24px
}

.slidebar .tab,.tabbar .tab {
    height: 2.0rem;
    line-height: 2.0rem;
    border-width: 0 0 1px 0
}

.slidebar .tab:active,.slidebar .tab.active {
    border-width: 0 0 2px 0
}

 .tabbar.animate-slide hr {
    border-color: #f45438;
}


.tabbar .tab.active{
    color: #f45438;
}



[data-col] .tab {
    float: left
}

[data-col="2"] .tab,.animate-slide[data-col="2"] hr {
    width: 50%
}

[data-col="3"] .tab,.animate-slide[data-col="3"] hr {
    width: 33%
}

[data-col="3"] .tab:nth-child(2),.animate-slide[data-col="3"] .tab:nth-child(2).active~hr {
    width: 34%
}

[data-col="4"] .tab,.animate-slide[data-col="4"] hr {
    width: 25%
}

[data-col="5"] .tab,.animate-slide[data-col="5"] hr {
    width: 20%
}

[data-col="6"] .tab,.animate-slide[data-col="6"] hr {
    width: 17%
}

[data-col="6"] .tab:nth-last-child(2),[data-col="6"] .tab:nth-last-child(3) {
    width: 16%
}

/*delay**/

.delay1{
    animation-delay:100ms;
    -webkit-animation-delay:100ms;
}
.delay2{
    animation-delay:200ms;
    -webkit-animation-delay:200ms;
}
.delay3{
    animation-delay:300ms;
    -webkit-animation-delay:300ms;
}
.delay4{
    animation-delay:400ms;
    -webkit-animation-delay:400ms;
}
.delay5{
    animation-delay:500ms;
    -webkit-animation-delay:500ms;
}
.delay6{
    animation-delay:600ms;
    -webkit-animation-delay:600ms;
}
.delay7{
    animation-delay:700ms;
    -webkit-animation-delay:700ms;
}
.delay8{
    animation-delay:800ms;
    -webkit-animation-delay:800ms;
}

.titlebar.reverse a{
    position: relative;
    top: -2px;
    z-index: 22;
}

.weui_btn_primary{
    background: #ff6600;
}

.weui_btn_warn{
    background: #f45438;
}

.menubar .tab:first-child .iconfont{
    font-size: 36px;
    position: relative;
    left: -5px;
}