.top { width:100%; height:60px; background:url(../images/login_t2.jpg) repeat-x 0 0; border-bottom:solid 1px #c3c3c3; }
.main-content { width:100%; background:url(../images/login_yun.jpg) repeat-x 0 0; height:600px; }
.main1000 { width:1000px; margin:0 auto; position:relative; }
.phone { position:absolute; }
.txt1 { position:absolute; top:40px; display:none; }
.login { width:320px; height:350px; background-color:#f4fcff; border:solid 1px #b6dbf7; position:absolute; right:60px; top:120px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
.login h2 { font-size:23px; text-align:center; font-weight:normal; margin-top:10px; }
.login p { margin-top:15px; overflow:hidden; }
.login p label { color: #333333; display: block; float: left; font-family: "宋体"; font-size: 12px; height: 30px; line-height: 30px; padding-right: 15px; text-align: right; width: 55px; }
.login p input { background: url(../images/login_txt.jpg) #FFF no-repeat scroll -332px -138px transparent; border-color: #CCCCCC #DDDDDD #DDDDDD #CCCCCC; border-left: 1px solid #CCCCCC; border-style: solid; border-width: 1px; color: #333333; float: left; font-family: '宋体'; font-size: 14px; height: 18px; padding: 5px 8px; transition-duration: 0.5s; transition-property: all; width: 175px; }
.login p .pass-checkbox-input { width:auto; height:auto; }
.login .pass-form-item { padding-left:68px; }
.login p .login_input { background: url("../images/dr.jpg") no-repeat scroll 0px 0px transparent; border: 0 none; color: #FFFFFF; height: 34px; width: 108px; cursor:pointer; }
.yinying { position:absolute; right:60px; top:470px; }
.login .reg_pic{ text-align:center; margin-top:30px; padding-top:30px; background:url(../images/login_line.jpg) repeat-x 0 0;}
.news li .products-desc{ display:block; float:left;  margin-left: 22px;margin-top: 15px;width: 375px;}
.news{ position:relative; top:550px;}
.news li { float:left; width:135px; height:135px; margin-right:18px; overflow:hidden; position:relative;}
.news li a{ width:135px; height:135px; display:block;background:url(../images/cuiniao.png) no-repeat;}
.news li .d1{ background-position:0 -135px;}
.news li .d2{ background-position:0 -270px;}
.news li .d3 {background-position:0 0;}

.news li .d1:hover{ background-position:-135px -135px;}
.news li .d2:hover{ background-position:-135px -270px;}
.news li .d3:hover{ background-position:-135px 0;}

.inner{ float:left;}
.title{ font-size:24px; font-weight:normal;}
.desc{ color:#666; line-height:21px; margin-top:5px;}
.w545{ width:545px;}
.gr{ width:135px; height:135px; background:url(../images/cuiniao.png) no-repeat 0 bottom; position:absolute; right:0;}
.foot{ width:1000px; text-align:center; position:relative;top:650px; color:#666;}

/* 注册页面 */
.bg50{ background-color:#FFF;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; position:absolute; left:0; top:50px; width:1000px; height:600px;}
.reg_index{ background-color:#fff; width:940px; position:absolute; left:10px; top:60px; height:500px; padding:60px 20px 0 20px}
.reg_index p { overflow: hidden; margin-bottom:20px; margin-left:50px;}
.reg_index label { float:left; line-height:45px; text-align:right; width:88px;}
.reg_index input{ float:left; width:220px; height:45px; margin-left:25px; background:url(../images/reg_txt.jpg) no-repeat 0 0; border:none; border: solid 1px #FFF;}
.reg_index span{ float:left; margin-left:10px; line-height:45px; color:#666;}

.reg_index .reg_tj{ width:372px; height:50px; background:url(../images/reg_zhuce.jpg) no-repeat 0 0; border:none; _border:solid 1px #FFF; cursor:pointer; margin-left:165px;}

.copyright { position:relative; top:580px; color:#666 ; font-size:12px ; text-align:center;  }