html,body{width: 100%; height: 100%; box-sizing: border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block; }
table{border-collapse:collapse;border-spacing:0;}
body{font:12px/1.5 "微软雅黑",Microsoft YaHei,tahoma,arial,宋体b8b\4f53; color:#666; background: #fff;}
.input-prepend .hide{display:none !important;}
.width-150{width:150px;}
p.error{color:#f00;}
.form-signin h2{margin-bottom:30px;}
.form-signin .input-prepend{margin-bottom:20px;}
button.login{padding:4px 29px;}
.fluid{position: relative;}
.fluid .row{height: auto; position: absolute; top: 95px; width: 100%; bottom: 4px; +*height: 460px; +*bottom: 79px;}
.navbar-fixed-top{position: relative; top: 0; left: 0; width: 100%; background-color: #477ab9; color: #fff;}
.login-container{width:300px !important; position: absolute; top: 160px;left: 50%;margin-left: -150px;}
.navbar-inner{color:#fff !important;text-align: center;}
.navbar-inner h2{text-indent: -6em;text-shadow: 1px 1px 1px #aaa;}
.nav-header{color: #08c;font-size:14px;}
.left-nav .sidebar-nav{width: 100%; margin-bottom: 20px;}
.left-nav .sidebar-nav ul li a{text-decoration: none; line-height: 40px; border-bottom: 1px solid #c5c5c5; height: 40px; display: block; color: #666;}
.left-nav .sidebar-nav ul li>a{padding-left: 22px; background-color: #eee;font-size: 14px; color: #313131;}
.nav-list li.nav-multi a.nav_main{background: url(../../img/nav_main.png) no-repeat right center;}
.nav-list li a.nav-sub{background: url(../../img/index_icon.png) no-repeat;}
.nav-list li.nav-multi.unfold a.nav_main{background-position: 94% 8px;}
.nav-list li.nav-multi.unfold.active a.nav_main{background-position: 93% -81px;}
.nav-list li.nav-multi.fold a.nav_main{background-position: 93% -32px;}
.nav-list li.nav-multi.fold a.nav_main.active{background-position: 92.9% -128px;}
.nav-list li a.nav-sub{background-position: 18px -97px;}
.nav-list li a.nav-sub.active,.nav-list li a.nav-sub:hover{background-position: 18px -42px;}
.left-nav{float: left; margin-left: 1%;width: 13%}

.mod{ 
  height: 40px;
clear: both;
  zoom: 1;
  /* margin: 0 auto; */
  margin-left: 200px;
  margin-bottom: 5px;
}
.left{float: left;}
.right{float: left; *+float: right;}
.nav li+.nav-header{margin-top:0 !important;}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"]{margin-left: -16px;margin-right: 0;}
iframe{width:100%; border: 1px solid #c5c5c5; border-bottom: none; height: 100%;}
.iframe-holder{width:84%;float: left;margin-left: 1%; height: 100%;}
#loginMask{position:absolute;background:#000; opacity:.5;z-index:955;color:#fff;font-weight:bold;border-radius:5px;width: 76px;height:44px;text-indent:.2em;line-height:44px;left:50%;top:40%;}
body.ie6-fix{_padding:0;}
.logo-img{float: left;}
.logo{ background:url(../../img/logo_FZSMD.png) center no-repeat; width: 100px; height: 75px;}
.navbar-inner .ie6-fix{_float:left;}
.container .ie6-fix{_width:100px;_float:left;}
.nav-list{ background-color: #fff; border: 1px solid #c5c5c5; border-bottom: none;}
.nav-list li{_width:150px; list-style: none; min-height: 40px;}
.nav-list a.nav-sub{list-style-type: disc;}
.nav-list li.ie6-fix{_padding:3px 0;_display:none;}
.nav-list li.nav-multi a{color: #666; display: block; height: 35px; line-height: 35px;}
.nav-list li.nav-multi a.active{ color: #fff;}
.nav-list li.nav-multi a.nav_main{background-color: #eee; padding-left: 22px;}
.nav-list li.nav-multi.active a.nav_main,.nav-list li.active a.sing_nav.active{background-color: #477ab9; color: #fff;}
.nav-list li.nav-multi a.nav-sub.active,.nav-list li.nav-multi a.nav-sub:hover{color: #ff8800;}
.hide {display: none;}
.nav-list li a.nav-sub{ font-size: 12px; padding-left:35px;}
.nav-list ul{ margin: 0; margin-left: 6px; padding-bottom: 2px;}
.nav-list ul li{ font-size: 12px; line-height: 25px; }
.nav-list ul li a { color: #7BC0E4;}
.nav-list ul li.active a{}
.nav-list .active a, .nav-list .active a:hover, .nav-list .active>a:focus{}
.iframe-holder{_width:870px;}
.input-prepend .hide{_display:inline-block !important;}
.input-prepend .ie6-fix{_display:none;}
.login-heading{margin-top:100px;text-align:center;}
.gray_bg{background-color: #eee;}
body.login-bg{background-color:#477ab9;}
body.login-bgLT{background:#ff7b0d url(../../img/bg_loginLT.png) center top no-repeat;}
.login-form{width:700px;margin:auto;position:relative; height: 375px; background: url(../img/bg_login.png) right bottom no-repeat; padding-top: 13%;}
.login-form>div.mod{line-height: 38px; margin-bottom: 15px; margin-left: 200px; margin-right: 199px;}
.mt50{margin-top: 50px;}
.login-form button.login{width: 234px; height:46px; border:none; border-radius: 3px; background-color: #477ab9; color: #fff; font-size: 14px; letter-spacing: 2px; cursor: pointer;}
.login-form .btn-row{text-align: center;}
body.login-TY .login-form .btn-row{ margin-left: 56px; margin-top: 18px;}
.login-form .login[disabled]{background-color: #f6f6f6; cursor: no-drop;}
.login-form button.login.loginLT{background: url(../../img/btn_loginLT.png) 0 0 no-repeat;width: 131px;height:34px;border:none;}
.login-form .login.loginLT[disabled]{background: url(../../img/btn_loginLT.png) 0 -35px no-repeat;}
.login-form label{display: inline-block; width: 60px; font-size: 15px;}
.heard{height:75px;margin: 0 20px; position:relative;}
.heard .logo-img{ margin-left:0px; width:28%;}
.logo-TY.logo{width: 295px;}
.topright{position: absolute;bottom: 10px;right: 5px;}
.topright button{margin:0;width: 60px; height: 30px; border: none; border-radius: 3px; background-color: #265c9b; color: #fff; cursor: pointer;}
.topright>span{font-size: 14px; margin-right: 5px;}
body.login-TY .login-form input{width:219px; height:16px; line-height:16px; border: 1px solid #DEDEDE; padding: 10px 8px;}
.login-form input{width:175px;}
body.login-TY .login-form input.capcode{ width:85px;}
body.login-TY .login-form #capcode_img{margin-left: 5px; vertical-align: middle; *+vertical-align:top; width: 80px; height: 32px; cursor: pointer;}
body.login-TY .login-form .capcpde_txt{ font-size:12px; margin-left:5px; *+margin-left:8px;color:#009dc7; cursor:pointer; display: inline-block; *+padding-bottom: 10px;}
body.login-TY .error-txt{border-radius: 5px; line-height:35px; height:35px;position: relative;top:-90px; left: 50%; margin-left: -186px; width: 400px; font-size:12px;}
body.login-TY .error-txt.warning{ background-color: #f4f4cc;border: 1px solid #f49309;}
body.login-TY .error-txt p.error{text-indent: 27px;}
body.login-TY .error-txt.warning p.error{ color:#d90;background:url(../../img/icon_warning.png) no-repeat 6px center;}
body.login-TY .error-txt.error{background-color: #fce1d2;border: 1px solid #ed0000;}
body.login-TY .error-txt.error p.error{background: url(../../img/icon_no.png) no-repeat 6px center; color: #ed0000;}
body.login-TY .error-txt.ing{background-color: #E0FAB6;border: 1px solid #83C714;}
body.login-TY .error-txt.ing p.error{background: url(../../img/icon_ok.png) no-repeat 6px center; color: #83C714;}
.blue_c{color: #477ab9;}
.green_c{color: #00ecde;}
.uname{padding: 0 5px;}