.weui_cell{
	padding: 10px 0;
}
.weui_cell:before{
	left: 0;
}

.weui_cell_bd {
	padding: 0 15px;
}

.weui_cells{
	margin-top: 0;
}
.weui_cell p{
	font-size: 0.7rem;
}
.weui_cell em{
	font-size: 0.7rem;
	font-weight: normal;
}

.titlebar.reverse{
	border-color:#0099ff; 
}
.weui_cell p .iconfont{
	color: #ff6600;
	font-size: 1.45rem;
	height: 1.45rem;
	width: 1.45rem;
	margin-right: 0.625rem;
}

.weui_cell div.iconfont{
	font-size: 0.8rem;
	color: #93929a;
}

.weui_cell strong{
	margin-right: 5px;
	color: #f45438;
}
.app {
    position: absolute !important;
    top: 0.375rem !important;
    right: 0.375rem;
}